.doc-img-fluid img {
    height: 200px;
    width: 200px;
    border: 8px solid #e0e0e0;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}
.doc-info a{
    color: #1977cc !important;
}
/* .clinic-booking-button{
    display: inline-block;
} */
div.pagination-container {
    display: flex;
    justify-content: center;
  }
  .clinic-booking-button {
    display: flex;
    justify-content: center;
}

.clinic-booking-button a {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
}

.clinic-booking-button a.apt-btn {
    margin-top: 10px; /* Adjust the margin as needed */
}

.clinic-booking-button a.pro-btn {
    margin-top: 0;
}
